$fuentegeneral: 'Raleway';
$background-header: url('../img/parallax-1.jpg');
$background-nuestrapasion: url('../img/parallax-3.jpg');
$background-preguntas: url('../img/parallax-2.jpg');
$background-campos: url('../img/parallax-4.jpg');
$fuente-white: rgb(255,255,255);

